{{> content_top }}
{{> navbar }}
<section class="section"><div class="container">
<h2 class="title is-2">{{page.head.title}}</h2>
<h4 class="subtitle is-4">{{page.head.description}}</h4>
</div></section>
<section class="section"><div class="container">
<table class="table is-striped">
<thead><tr>
    <th>Date</th>
    <th><abbr title="Activity type">Act</abbr></th>
    <th><abbr title="Reference ID">Ref</abbr></th>
</tr></thead>
<tbody>
{{#each (tables site.pages)}}
<tr>

    <td>{{date_format "%x" page.head.extra.date}}</td>
    <td>{{page.head.extra.activity}}</td>
    <td><a href="{{uri}}">{{page.head.extra.reference}}</a></td>

</tr>
{{/each}}
</tbody>
</table>
</div></section>
{{> content_bottom }}
