{{> content_top }}


    <section>
    <div class="content">

    {{#each (blogs site.pages)}}
        <header>
        <h2>{{page.head.title}}</h2>
        <p>
        {{#if page.head.date }}{{date_format ../site.info.extra.date_style page.head.date}} {{/if}}
        {{#if page.head.extra.author}} by <a
            href="{{page.head.extra.author_page}}">{{page.head.extra.author}}</a>{{/if}}
        </p>
        </header>
        {{! Since this is HTML, we use the triple-curly }}
        {{{page.body}}}
        <p><a href="{{this.uri}}">View the Post</a></p>

    {{/each}}

    </div>
    </section>


{{> content_bottom }}
